.jumbotron {
    background-image: url(../../Images/Jumbotron/TropicalPexels-photo-2346015.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    /* filter: brightness(0.50); */
}

.jumbotron-content h1, p {
    color: white;
    margin-left: 20%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
}

.jumbotron-content h1 {
    font-size: 50px;
    padding-top: 35vh;
}

.jumbotron-content p {
    font-size: 20px;
    margin-left: 20%;
    padding-top: 10px;
}

.jumbotron-content button {
    cursor: pointer;
    margin-left: 20%;
    margin-top: 10px;
    background-color: #FF665A;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    border-radius: 5px;
}

.jumbotron-content button:hover {
    color: #FF665A;
    background-color: #FFFF;
}