.jumbotron {
    background-image: url(../../Images/Jumbotron/pexels-photo-2526041.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    filter: brightness(0.30);
}