.collage-content {
    /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap; */
}

.collage-content h1 {
    padding: 100px 0 100px 0;
    font-size: 25px;
    font-family: system-ui; /* This may need to change later on */
    text-align: center;
}

.collage-content-grid {
    padding: 5% 5% 5% 5%;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    /* grid-template-columns: 33% 33% 33%; */
    /* grid-template-rows: 33% 33% 33%; */
    align-content: center;
    justify-content: center;
    align-items: center;
}

.collage-content-grid .row1 {
    /* padding-bottom: 20px; */
    padding: 0px 37px 20px 0px;
}

.collage-content-grid .row2 {
    /* padding-bottom: 30px; */
    padding: 0px 37px 37px 0px;
}

.collage-content img {
    width: 500px;
    height: 347px;
    border-radius: 5px;
}
